@{
    ViewData["Title"] = "Home Page";
}

<style>
    #main {
        height: 90vh;
        width: 1920px;
        background-color: rgb(250, 237, 205);
        padding-top: 200px;
    }
</style>
<div class="text-center container" id="main">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
